
* {
    border:1px black;
}
body {
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
}

main {
    
    grid-column: 2;
    grid-row: 2;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
section {
    border: 1px solid black;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    background-color: yellow;
    
}
header {
    align-items: center;

}
.red {
    background-color: red;
}
header input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

}
